.pdf-uploader-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .pdf-uploader-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .pdf-uploader-container input[type="file"] {
    margin-bottom: 20px;
  }
  
  .pdf-uploader-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pdf-uploader-container button:hover {
    background-color: #0056b3;
  }
  

  .form2 {
    margin-top: 20px; 
    display: flex;
    flex-direction: column;
  }
  .input3{
    margin-bottom: 20px;
  }
  select{
    margin-bottom: 20px;
    width: 20vh;
    border-radius: 20px;
    padding: 6px 20px;
    box-shadow: #4f7688 0px 7px 10px -5px;
    border: none;

  }
.input2 {
    background: white;
    width: 45vh;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
    box-shadow: #4f7688 0px 7px 10px -5px;
    border-inline: 2px solid transparent;
  }
  
  .input2::-moz-placeholder {
    color: rgb(170, 170, 170);
  }
  
  .input2::placeholder {
    color: rgb(170, 170, 170);
  }
.input2:focus {
    outline: none;
    border-inline: 2px solid #12B1D1;
  }
  
  
  
  
  
.login-button2 {
    margin-top: 20px;
    display: block;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
    color: white;
    padding-block: 15px;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
  }
  
  .login-button2:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
  }
  
  .login-button2:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
  }

  
  